@import url("https://fonts.googleapis.com/css?family=Lobster+Two");
* {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  margin: 0px;
  background-image: url("../img/gummybg.png");
  background-position-x: center;
  background-repeat: repeat; }

table {
  width: 100%;
  text-align: left; }

.btn {
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  background-color: #eee; }
  .btn:hover {
    background-color: #ccc; }

.page-container {
  background-color: rgba(255, 234, 254, 0.95);
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0px 15px;
  overflow: hidden; }

.page-header {
  text-align: center;
  border-bottom: 2px dashed black; }
  .page-header .page-title {
    display: inline-block;
    background-color: #c4daff;
    margin: 50px 0px;
    padding: 30px 40px;
    border-radius: 10px;
    text-decoration: none; }
  .page-header h1 {
    font-family: "Lobster Two", sans-serif;
    color: black;
    font-size: 90px;
    margin: 0px;
    padding-bottom: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black; }

.page-body {
  display: flex;
  flex-direction: column;
  background-color: #f1d1fc;
  margin: 25px 20px 30px;
  height: 100%;
  padding: 30px 30px;
  /*border-radius: 6px;*/ }

.main-nav {
  font-size: 0px;
  margin-bottom: 15px;
  margin-top: -8px;
  border-bottom: 1px solid #78567c; }
  .main-nav a:first-child {
    margin-left: 0px; }
  .main-nav a {
    font-size: 20px;
    display: inline-block;
    padding: 8px;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: -1px; }
    .main-nav a:hover {
      background-color: #ae73b5;
      border-color: #78567c; }
    .main-nav a.active {
      border-color: #78567c;
      background-color: #d8b3db; }

.section-header {
  background-color: #c4daff;
  text-align: center;
  margin-bottom: 15px; }
  .section-header h2 {
    font-family: "Lobster Two", sans-serif;
    font-size: 55px;
    margin: 0px; }

.text-columns {
  display: flex;
  margin-top: 10px; }
  .text-columns .column {
    display: block;
    background-color: #c4daff;
    padding: 0px 20px; }
    .text-columns .column + .column {
      margin-left: 55px; }

.btn-product-list {
  align-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Lobster Two", sans-serif;
  font-size: 60px;
  background-color: #d4ffcc;
  border-radius: 20px;
  padding: 20px 40px; }
  .btn-product-list:hover {
    background-color: #bdedb4; }

#inventory-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: center; }

.btn-go {
  background-color: #d4ffcc; }
  .btn-go:hover {
    background-color: #bdedb4; }

.btn-cancel {
  background-color: #ff9bbb; }
  .btn-cancel:hover {
    background-color: #e27c9d; }
