@model List<GummiBearKingdom.Models.Product>

@{
  ViewData["Title"] = "Gummi Kingdom - Home";
  Layout = "_Layout";
}

<nav class="main-nav">
  <a class="active">Home</a>
</nav>

<div class="section-header">
  <h2>Welcome!</h2>
</div>

<div id="main-page-columns">
  <div id="main-page-text-column">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div id="main-page-popular-column">
    <h2>Popular Products</h2>

    @foreach (var product in Model)
    {
      <p>@Html.ActionLink(product.Name, "Details", "Products", new { id = product.Id })</p>
    }
  </div>
</div>



<div id="product-list-btn-wrapper">
  <a href=@Url.Action("Index", "Products") class="btn btn-product-list">All Products</a>
</div>