<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/css/master.css">
  <title>@ViewData["Title"]</title>
</head>
<body>
  <div class="page-container">
    <div class="page-header">
      @Html.Partial("SiteHeader")
    </div>
    <div class="page-body">
      @RenderBody()
    </div>
  </div>
</body>
</html>
