@model GummiBearKingdom.Models.Product

@{
    ViewData["Title"] = $"Gummi Kingdom - {Model.Name}";
    Layout = "_Layout";
}

<h2>@Model.Name - @Model.GetCostAsUSD()</h2>
<p>@Model.Description</p>

<p>@Html.ActionLink("Back", "Index")</p>