@model IEnumerable<GummiBearKingdom.Models.Product>

@{
  ViewData["Title"] = "Gummi Kingdom - Products";
  Layout = "_Layout";
}

<nav class="main-nav">
  <a href=@Url.Action("Index", "Home")>Home</a>
  <a class="active">Products</a>
</nav>

<div class="section-header">
  <h2>Our Inventory</h2>
</div>

<table id="inventory-table">
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Edit</th>
  </tr>
  @foreach (var product in Model)
  {
    <tr>
      <td>@Html.ActionLink(@product.Name, "Details", new { id = product.Id })</td>
      <td>@product.GetCostAsUSD()</td>
      <td>[@Html.ActionLink("Delete", "RemoveProduct", new { id = product.Id })]</td>
    </tr>
  }
</table>

<div id="inventory-buttons">
  <a href=@Url.Action("AddProduct") class="btn btn-go">Add a product</a>
  <a href=@Url.Action("RemoveAllProducts") class="btn btn-cancel">Remove all products</a>
</div>