@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

// Colors
$main-background-color: rgba(255, 234, 254, 0.95);
$secondary-background-color: #f1d1fc;
$accent-background-color: #c4daff;

$product-button-color: #d4ffcc;
$product-button-hover-color: #bdedb4;
$go-button-color: #d4ffcc;
$go-button-hover-color: #bdedb4;
$cancel-button-color: #ff9bbb;
$cancel-button-hover-color: #e27c9d;

$nav-tab-active-color: #d8b3db;
$nav-tab-hover-color: #ae73b5;
$nav-tab-border-color: #78567c;

// Page
$background-image: url("../img/gummybg.png");
$page-width: 1000px;

// Title
$title-font: "Lobster Two", sans-serif;
$title-color: black;
$title-accent-border: 1px solid $title-color;

// Misc
$dashed-border: 2px dashed black;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0px;
  background-image: $background-image;
  background-position-x: center;
  background-repeat: repeat;
}

table {
  width: 100%;
  text-align: left;
}

form {
  width: 100%;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }

  input, textarea {
    display: block;
    width: 100%;
  }

  textarea {
    max-width: 100%;
    min-height: 24px;
    min-width: 50px;
    height: 70px;
  }

  .form-group {
    margin: 10px 0px;
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  border: none;
  background-color: #eee;

  &:hover {
    background-color: #ccc;
  }
}

.page-container {
  background-color: $main-background-color;
  width: 100%;
  max-width: $page-width;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0px 15px;
  overflow: hidden;
}

.page-header {
  text-align: center;
  border-bottom: $dashed-border;

  .page-title {
    display: inline-block;
    background-color: $accent-background-color;
    margin: 50px 0px;
    padding: 30px 40px;
    border-radius: 10px;
    text-decoration: none;
  }

  h1 {
    font-family: $title-font;
    color: $title-color;
    font-size: 90px;
    margin: 0px;
    padding-bottom: 15px;
    border-top: $title-accent-border;
    border-bottom: $title-accent-border;
  }
}

.page-body {
  background-color: $secondary-background-color;
  margin: 25px 20px 30px;
  height: 100%;
  min-height: 400px;
  padding: 30px 30px;
  /*border-radius: 6px;*/

}

.main-nav {
  font-size: 0px;
  margin-bottom: 15px;
  margin-top: -8px;
  border-bottom: 1px solid $nav-tab-border-color;

  a:first-child {
    margin-left: 0px;
  }

  a {
    font-size: 20px;
    display: inline-block;
    padding: 8px;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: -1px;

    &:hover {
      background-color: $nav-tab-hover-color;
      border-color: $nav-tab-border-color;
    }

    &.active {
      border-color: $nav-tab-border-color;
      background-color: $nav-tab-active-color;
    }
  }
}

.section-header {
  background-color: $accent-background-color;
  text-align: center;
  margin-bottom: 15px;

  h2 {
    font-family: $title-font;
    font-size: 55px;
    margin: 0px;
  }
}

.text-columns {
  display: flex;
  margin-top: 10px;

  .column {
    display: block;
    background-color: $accent-background-color;
    padding: 0px 20px;

    & + .column {
      margin-left: 55px;
    }
  }
}

#product-list-btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn-product-list {
  align-self: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: $title-font;
  font-size: 60px;
  background-color: $product-button-color;
  border-radius: 20px;
  padding: 20px 40px;

  &:hover {
    background-color: $product-button-hover-color;
  }
}

#inventory-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: center;

  .btn {
    margin-left: 7px;
    margin-right: 7px;
  }
}

.btn-go {
  background-color: $go-button-color;

  &:hover {
    background-color: $go-button-hover-color;
  }
}

.btn-cancel {
  background-color: $cancel-button-color;

  &:hover {
    background-color: $cancel-button-hover-color;
  }
}

#details-delete-item-btn{
  margin-top: 40px;
}

#new-product-form {
  max-width: 500px;
}